 </main>
  <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">TinyApp</h5>
            <p class="grey-text text-lighten-4">Shorten URLs.</p>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2018 Bardia Pourvakil
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>