<div>
  <p>
  <% if (!user) { %>
  <form method="GET" action="/login">
    <input type="submit" value="Login" name="login">
  </form>
  <form method="GET" action="/register">
    <input type="submit" value="Register" name="register">
  </form>
  <% } else { %>
  <form method="POST" action="/logout">
    <input type="submit" value="Logout" name="logout">
  </form>
  </p>
  <%}%>
</div>