<% include partials/_head %>

<form action="/register" method="POST">
  <input id="email", type="email", name="email", placeholder="elonmusk@theboringcompany.com">
  <input type="password", id="password", name="password" placeholder="password">
  <input type="submit", value="Register">
</form>